* {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  max-width: 350px;
  background-color: #343541;
}

.folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-top: 3px;
}

.folder--container {
  display: flex;
}

.folder:hover .Icons {
  display: block;
}

.file {
  display: flex;
  
  flex-direction: column;
}

.files:hover .files--icon {
  display: block;
}

.folder>span {
  display: flex;
  margin: 0px 2px;
}

.crud--icons {
  height: 20px;
  width: 20px;
  padding: 2px;
}

.Icons {
  display: none;
  padding-right: 1rem;


}

.input--box {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0 0px 0;
  padding: 3px;
  border: 1px solid grey;
  cursor: pointer;
}

.input--container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-bottom: 5px;
  gap: 5px;
}

.files {
  display: flex;
  justify-content: first baseline;
  cursor: pointer;
}

.files--icon {
  display: none;
  padding-left: 1rem;
}

.editFiles {
  display: flex;
  padding-left: 10px;
}